.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
   margin-bottom:0px;
   /* align-items: center; */
   justify-content: center;
  background-color:white;
  border-top:1px solid lightgray;
  padding: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 20px;
}



.imageupload__progress{
    width:100%;
    height: 40px;

}

.imageupload input{
  padding: 20px;
  /* text-decoration: none; */
}